table#customers {
    font-size: 16px;
    border-spacing: 0;
    width: 100%;
}
.ws-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
}
#customers th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #04AA6D;
    color: white;
}


#customers td, #customers th {
    text-align: left;
    padding: 8px;
}